<html>
    <head>
        <title>Issues</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Date</th>
                <th>Message</th>
                <th>Extra</th>
                <th>File</th>
                <th>Exception type</th>
                <th>Exception value</th>
                <th>Traceback</th>
            <tr>
            {% for issue in issues %}
            <tr>
                <td>{{ issue.date }}</td>
                <td>{{ issue.message }}</td>
                <td>{{ issue.extra }}</td>
                <td>{{ issue.file }}</td>
                <td>{{ issue.ex_type }}</td>
                <td>{{ issue.ex_value }}</td>
                <td><pre>{{ issue.ex_traceback }}</pre></td>
            </tr>
            {% endfor %}
        </table>
        < <a href="{{ prev_url }}">Prev</a> ... <a href="{{ next_url }}">Next</a> >
    </body>
</html>
