<html>
    <head>
        <title>Issues</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <h3>Last 24 hours</h3>
        <div id="graph" style="width: 800px; height: 400px;"></div>
        <h3>Last 10 issues</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Message</th>
                <th>Extra</th>
                <th>File</th>
                <th>Exception type</th>
                <th>Exception value</th>
                <th>Traceback</th>
            <tr>
            {% for issue in issues %}
            <tr>
                <td>{{ issue.date }}</td>
                <td>{{ issue.message }}</td>
                <td>{{ issue.extra }}</td>
                <td>{{ issue.file }}</td>
                <td>{{ issue.ex_type }}</td>
                <td>{{ issue.ex_value }}</td>
                <td><pre>{{ issue.ex_traceback }}</pre></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('Web.get_issues', project_id=project_id) }}">More</a>
        <script>
            var data = [
              {
                x: [{{ plot.x|safe }}],
                y: [{{ plot.y }}],
                type: 'scatter'
              }
            ];
            Plotly.newPlot('graph', data);
        </script>
    </body>
</html>
