<html>
    <head>
        <title>Projects</title>
    </head>
    <body>
        <h3>Your projects</h3>
        <table>
            <tr>
                <th>Project id</th>
                <th>Name</th>
            <tr>
            {% for project in projects %}
            <tr>
                <td><a href="/projects/{{ project.project_id }}">{{ project.project_id }}</a></td>
                <td>{{ project.name }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Add new project</h3>
        <form method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="add" /></td>
                </tr>
            </table>
        </form>
    </body>
</html>
